extends layout.pug

block content
    main
        link(rel="stylesheet", href="static/style/guides.css")
        div
            h2(class="h2") Guides to help you improve
            div(class="guides-links")
                a(href="/dragons-guide") Dragons Guide

            div(class="guides-links")
                a(href="/queen-walk-guide") Queen Walk / Charge
            div
                h2 Youtube content creators
                div(class="youtube-links")
                    a(href="https://www.youtube.com/channel/UC5NBdAuGjnz7CCU3yC9oOug") Clash with eric
                div(class="youtube-links")
                    a(href="https://www.youtube.com/channel/UCNL6sUET_O5MYNqESOIIBpw") CarbonFin
                div(class="youtube-links")
                    a(href="https://www.youtube.com/channel/UCbiaA0b-eBCKFVRLC1dKxAQ") Clash with cory
                div(class="youtube-links")
                    a(href="https://www.youtube.com/channel/UC85aYbNSFjsJdxfpxgQr8tA") Judo Sloth
                div(class="youtube-links")
                    a(href="https://www.youtube.com/channel/UCJBboGVe7LDwNuQ02L4zmbQ") Clash Bashing
                div(class="youtube-links")
                    a(href="https://www.youtube.com/user/SteamFirstBlog") Echo
                div(class="youtube-links")
                    a(href="https://www.youtube.com/channel/UC8MZiWkrR_2EZAe5Mw0083w") Scrappy Academy
                div(class="youtube-links")
                    a(href="https://www.youtube.com/channel/UCXqIe8YrT3zw8f3W73Q7qhg") CorruptYT
                div(class="youtube-links")
                    a(href="https://www.youtube.com/channel/UCCe5BqdmrUeiQd-wAB62Zhw") LadyB