extends layout.pug

block content
    main
        img(src="../static/images/battle-banner.png", width="500px", height="auto" )
        p  
                | Debt Collectors are a war focused clan that aims to have a positive and friendly environment.
                | We strive to do our best in every war but understand that everyone is at a different level of skill and knowledge toward the game and we aim to improve everytime.
                | Since we have created the clan in the second half of 2019 we have raised the clan level past five and pushed into the gold leagues in clan war leagues.
                | With constant wars, maxing clan games, high donations and well rounded leadership we have been continually raising our level as well as our members.
                |