extends layout.pug

block content
    main
        h1 Join Debt Collectors!!
        p 
            | If you wish to join the Debt Collectors clan then there are a few things we would like you to do.
            | Read the rules
                a(href="/rules") Here
            | Head over to discord and join our server here
                a(href="https://discord.gg/PyqAnBz")
                    img(src="static/images/discordt.png", alt="discord icon", style="height: 3rem; width: auto;")
            | You can apply in our discord or in-game
