extends layout.pug

block scripts
    script(src="static/page-scripts/members.js", defer)

block content
    main
        link(rel="stylesheet", href="static/style/members.css")
        div(class="table")
            table(id="table-whole")
                thead
                    tr(id="table-head")
                        th Player
                        th Tag
                        th Level
                        th Trophies
                        th Versus Trophies
                        th Donations
                        th Donations Received
                tbody(id="table-body")
                    td
                    td
                    td
                    td
                    td
                    td
                    td

                    