extends layout.pug

block content
    main   
        link(rel="stylesheet", href="static/style/queen-walk-guide.css")

        div(id="heading-div")
            h1(id="heading-h1") How to Queen Charge
            h3 So let's start with what a Queen charge is?
            p(id="heading-description")
                | The Queen charge is when you drive the queen into the center of the base using siege weapons, jump spell, wall breakers or even getting the queen to take out each wall to gain access to the next compartment.  This strategy usually goes after key defences like eagle artillery, inferno towers, xbows and even the town hall itself.
        div(id="description-div")
            h2(id="description-h2") The Queen Charge
        div(id="steps-div")
            div(class="steps-grid")
                img(class="step-image", src="static/images/qc-creating-a-funnel.jpg")
                p(class="steps-p") 
                    | Create a funnel.
                    | 
                    | Baby dragons and wizards are a great troop for clearing the building on the sides of your queen directing her path into the base.
            div(class="steps-grid")
                img(class="step-image" src="static/images/QC-entrance.jpg")
                p(class="steps-p") 
                    | Create an entrance for your Queen.
                    |
                    | Wall breakers,Seige Machines and the jump spell can enable your queen access into the base

            div(class="steps-grid")
                img(class="step-image" src="static/images/QC-sustain.jpg")
                p(class="steps-p")
                    | Sustain your queen inside the base.
                    |
                    | Rage spell placed right will boost your healers to output more heals keeping your queen up though high amounts of incoming damage

        div(id="after-thought")
            p Once you have taken out your objective it is now time to begin your next phase of the Attack Good Luck
