extends layout.pug

block content
    main
        div
            h1 Rules
            div
                ul
                    h4 General Rules
                    li Harassment of any kind will not be tolerated, we are a family act like it.
                    li We ask that you remain active.
                    li Advise a co-leader when taking a break and turn your banner to red(so that we can organise war).
                    li Donate whenever possible
                    li Do not break supercells terms of service.
                    li Do not excessively tag another person in discord.
                ul
                    h4 Clan War(CW) - Clan War Leagues(CWL)
                    li Turn your banner to red when you do not wish to partake in war(so that we can organise war).
                    li All attacks must be used.
                    li All attacks must use CC(Clan Castle) troops.
                    li All heroes must be used in attacks (If heroes are upgrading opt out of war).
                    li Be open to criticism this is how we learn.
                    li Use constructive criticism, attacking someone about an attack will not benefit anyone involved.
                    li Follow all war instructions issued by Co-leaders.
                ul
                    h4 Clan Games(CG)
                    li Memebers are encouraged to earn 1000+ points.

